# datasets — share via Drive, too big for git
datasets/**/*.csv
datasets/**/*.jpg
ExtraSeasonData

# Local Task 2 datasets
/notebooks/task2/dataset1/
/notebooks/task2/dataset2/
/notebooks/task2/dataset3/
/notebooks/task2/ExtraSeasonData/


preprocessed_datasets/**/*.csv
preprocessed_datasets/**/*.jpg
/preprocessed_datasets/task2/*.npy

# artifacts — share via Drive, too big for git
artifacts/**
!artifacts/**/
!artifacts/**/.gitkeep
!artifacts/**/README.md

# junk
__MACOSX/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
venv/
.mypy_cache/
